.footer{
    background:#0F172A;
    color:white;
    padding:80px 8% 30px;
}

.footer-top{
    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    gap:60px;
    margin-bottom:60px;
}

.footer h2{
    font-size:34px;
    margin-bottom:20px;
}

.footer p{
    color:#CBD5E1;
    line-height:1.8;
    max-width:420px;
}

.footer h3{
    margin-bottom:20px;
}

.footer a{
    display:block;
    color:#CBD5E1;
    text-decoration:none;
    margin:12px 0;
    transition:.3s;
}

.footer a:hover{
    color:#14B8A6;
}

.footer-bottom{
    border-top:1px solid rgba(255,255,255,.1);
    padding-top:25px;
    text-align:center;
    color:#94A3B8;


}

.founder-info{
    margin-top:40px;
    padding-top:24px;
    border-top:1px solid rgba(255,255,255,0.15);
}

.founder-info span{
    display:block;
    font-size:13px;
    color:#94A3B8;
    text-transform:uppercase;
    letter-spacing:1px;
    margin-bottom:6px;
}

.founder-info h4{
    margin:0;
    font-size:18px;
    font-weight:700;
    color:#ffffff;
}

.founder-info p{
    margin-top:6px;
    font-size:15px;
    color:#CBD5E1;
}