.loader{

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    background:white;

}

.loader img{

    width:90px;

    margin-bottom:20px;

}

.loader h2{

    color:#11B5AE;

    margin-bottom:30px;

    font-size:34px;

}

.spinner{

    width:45px;

    height:45px;

    border:4px solid #E5E7EB;

    border-top:4px solid #11B5AE;

    border-radius:50%;

    animation:spin .8s linear infinite;

}

@keyframes spin{

    to{

        transform:rotate(360deg);

    }

}