.stats{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;

    padding:80px 8%;
}

.stat-card{

    background:white;

    border-radius:20px;

    padding:40px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,.05);

    transition:.3s;
}

.stat-card:hover{

    transform:translateY(-8px);

}

.stat-card h2{

    color:#14B8A6;

    font-size:42px;

    margin-bottom:10px;

}

.stat-card p{

    color:#64748B;

    font-size:18px;

}